In [3]:
import sys
import os
sys.path.append(os.path.abspath('../src'))

from data.load_data import load_excel_data

file_path = '../data/raw/dataset original.xlsx'
df = load_excel_data(file_path)
df.head()

      bulan  tahun   jumlah
0   january   2006  1005200
1  february   2006   723717
2     march   2006   863592
3     april   2006   867901
4       may   2006   864382